.btn {
  all: unset;
  padding: $sizing * 0.5;
  cursor: pointer;
  &:disabled {
    background-color: lightgrey;
    &:hover {
      box-shadow: none;
    }
  }
}

.like {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.like-btn-wrapper {
  display: flex;
  align-items: center;
}

.red {
  color: $redColor;
  animation: heart ease-in 250ms;
}

@keyframes heart {
  0% {
    font-size: 110%;
  }
  50% {
    font-size: 150%;
  }
  100% {
    font-size: 100%;
  }
}

.delete-btn {
  &:hover {
    color: $redColor;
  }
}
