.input-field-wrapper {
  margin: $sizing * 2 $sizing $sizing * 3;
  .text-error {
    position: absolute;
    font-size: 0.8rem;
    color: $redColor;
  }
}

.icon-input-wrapper {
  width: 100%;
  display: flex;
  align-items: center;

  i {
    margin-right: $sizing;
  }

  input {
    width: 100%;
    min-width: 220px;
    border: none;
    border-bottom: 2px solid $darkColor;
    font-size: 1rem;
    background-color: transparent;

    &:focus {
      outline: none;
      border-bottom: 2px solid $blueColor;
    }
  }

  .input-error-wrapper {
    width: 100%;
  }

  .invalid {
    border-bottom: 2px solid $redColor;
  }

  .valid {
    border-bottom: 2px solid $lightBlueColor;
  }
}
