// PictureDiv
.buttonsDiv {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

// Landing
.prevNextDiv {
  display: flex;
  justify-content: space-around;
}

.main-wrapper {
  max-width: $tablet;
}
