// Landing
.prevNextDiv {
  display: flex;
  justify-content: space-around;
}

.main-wrapper {
  width: 100%;
  margin-bottom: 10 * $sizing;
}

.spinner-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2 * $sizing;
}
