// used in WebcamCapture
.cam-buttons-div {
  display: flex;
  justify-content: space-between;
}

// RenderPicture
.under-pic-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Stickers
.sticker-image {
  cursor: pointer;
}

.webcam-wrapper {
  margin-top: $sizing * 5;
  border: 1px solid $shadowColor;
  border-radius: 4px;
  margin-bottom: 5 * $sizing;
  background-color: $mainColor;
}

.carousel-wrapper {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stickers-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 5 * $sizing;
}

.user-pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-pictures > * {
  flex: 0 0 30%;
  @media (max-width: $mobile + 60px) {
    flex: 0 0 100%;
  }
}

.user-picture-wrapper {
  margin-top: $sizing;
  display: flex;
}

.user-image {
  width: 100%;
  display: flex;
  border-bottom: 1px solid $lightGreyColor;
}

.delete-button-wrapper {
  margin-right: $sizing;
}
