// used in WebcamCapture
.camButtonsDiv {
  display: flex;
  justify-content: space-between;
}

// RenderPicture
.underPicButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

// Frames
.carouselMain {
  height: 150px;
}

// Frames
.carouselItem {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// Frames
.carouselImage {
  cursor: pointer;
}

// Stickers
.stickerImage {
  cursor: pointer;
}
