$sizing: 8px;
$mobile: 600px;
$tablet: 960px;
$desktop: 1280px;

$mainColor: #ffffff;
$shadowColor: rgba(0, 0, 0, 0.5);
$redColor: rgb(237, 73, 86);
$greenColor: rgb(75, 181, 67);
$darkColor: rgba(0, 0, 0, 0.8);
$blueColor: rgb(46, 53, 251);
$lightBlueColor: rgb(52, 152, 219);
$greyColor: rgba(0, 0, 0, 0.7);
$lightGreyColor: rgba(0, 0, 0, 0.3);
$lightestGreyColor: rgba(0, 0, 0, 0.02);

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@import './take-picture';
@import './landing';
@import './picture';
@import './header';
@import './footer';
@import './buttons';
@import './input-field';
@import './auth';
@import './modal';

body {
  margin: 0;
  background-color: $lightestGreyColor;
  font-family: 'Ubuntu', serif;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
