@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
.cam-buttons-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.under-pic-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sticker-image {
  cursor: pointer;
}

.webcam-wrapper {
  margin-top: 40px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin-bottom: 40px;
  background-color: #ffffff;
}

.carousel-wrapper {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stickers-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

.user-pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.user-pictures > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.user-picture-wrapper {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.user-picture {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  border-radius: 4px;
  margin: auto;
  width: 90%;
}

@media (max-width: 600px) {
  .user-picture {
    width: 100%;
  }
}

.delete-button-wrapper {
  margin-right: 8px;
}

.prevNextDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-wrapper {
  width: 100%;
}

.picture-wrapper {
  margin-top: 32px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
}

.image-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.image {
  margin: auto;
}

.picture-section {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments-section {
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment-text {
  color: rgba(0, 0, 0, 0.5);
}

.add-comment-section {
  padding: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.add-comment-section .comment-input {
  border: transparent;
  width: 100%;
}

.add-comment-section .comment-input:focus {
  outline: none;
}

.add-comment-section .blue {
  color: #3498db;
}

.add-comment-section .blue:disabled {
  color: rgba(0, 0, 0, 0.3);
  cursor: unset;
}

.header-wrapper {
  width: 100%;
  background-color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}

.header-wrapper .header {
  max-width: 960px;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-wrapper .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-wrapper a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  padding: 0 8px;
}

.header-wrapper a:active {
  color: rgba(0, 0, 0, 0.5);
}

.header-wrapper .button {
  padding: 0 8px;
  cursor: pointer;
}

.header-wrapper .sidebar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: -304px;
  top: 0;
  width: 300px;
  height: 100vh;
  background-color: #ffffff;
  -webkit-transition: left 250ms ease-in;
  transition: left 250ms ease-in;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.header-wrapper .sidebar h2 {
  margin: 8px auto;
}

.header-wrapper .sidebar h3 {
  margin: 16px auto;
}

.header-wrapper .sidebar .title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.header-wrapper .sidebar .sidebar-link {
  padding: 8px 24px;
  font-size: 1.2rem;
  width: 252px;
}

.header-wrapper .sidebar .sidebar-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.header-wrapper .show-sidebar {
  left: 0;
}

footer {
  width: 100%;
  background-color: #ffffff;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.btn {
  all: unset;
  padding: 4px;
  cursor: pointer;
}

.like {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.like-btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.red {
  color: #ed4956;
  -webkit-animation: heart ease-in 250ms;
          animation: heart ease-in 250ms;
}

@-webkit-keyframes heart {
  0% {
    font-size: 110%;
  }
  50% {
    font-size: 150%;
  }
  100% {
    font-size: 100%;
  }
}

@keyframes heart {
  0% {
    font-size: 110%;
  }
  50% {
    font-size: 150%;
  }
  100% {
    font-size: 100%;
  }
}

.delete-btn:hover {
  color: #ed4956;
}

.input-field-wrapper {
  margin: 16px 8px 24px;
}

.input-field-wrapper .text-error {
  position: absolute;
  font-size: 0.8rem;
  color: #ed4956;
}

.icon-input-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-input-wrapper i {
  margin-right: 8px;
}

.icon-input-wrapper input {
  width: 100%;
  min-width: 220px;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
  font-size: 1rem;
  background-color: transparent;
}

.icon-input-wrapper input:focus {
  outline: none;
  border-bottom: 2px solid #2e35fb;
}

.icon-input-wrapper .input-error-wrapper {
  width: 100%;
}

.icon-input-wrapper .invalid {
  border-bottom: 2px solid #ed4956;
}

.icon-input-wrapper .valid {
  border-bottom: 2px solid #3498db;
}

.error-message {
  font-size: 0.8rem;
  color: #ed4956;
  margin: 8px;
  text-align: center;
}

.auth-btn {
  margin: 8px;
  border-radius: 17px;
  text-transform: capitalize;
  padding: 8px 16px;
  font-weight: 600;
  border-color: #3498db;
  color: #fff;
  -webkit-box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
          box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.auth-btn:hover {
  -webkit-box-shadow: 0 0 8px 0 #3498db inset, 0 0 8px 2px #3498db;
          box-shadow: 0 0 8px 0 #3498db inset, 0 0 8px 2px #3498db;
  color: #3498db;
}

.auth-btn-grey {
  margin: 8px;
  border-radius: 17px;
  text-transform: capitalize;
  padding: 8px 16px;
  font-weight: 600;
  border-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  -webkit-box-shadow: 0 0 40px 40px rgba(0, 0, 0, 0.3) inset, 0 0 0 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 40px 40px rgba(0, 0, 0, 0.3) inset, 0 0 0 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.auth-btn-grey:hover {
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3) inset, 0 0 8px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3) inset, 0 0 8px 2px rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.float-right {
  float: right;
}

.signup-buttons-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.signin-buttons-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.modal-wrapper {
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-wrapper-show {
  visibility: visible;
}

.modal {
  min-width: 300px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.modal h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 16px;
  margin: 0;
}

.modal .content {
  padding: 16px;
}

.modal .modal-footer {
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal-hide {
  opacity: 0;
  visibility: hidden;
  -webkit-filter: blur(8px);
          filter: blur(8px);
  -webkit-transform: scale(0.33);
          transform: scale(0.33);
  -webkit-box-shadow: 1rem 0 0 rgba(0, 0, 0, 0.2);
          box-shadow: 1rem 0 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.carousel {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.carousel input[type='radio'] {
  display: none;
}

.carousel .card {
  position: absolute;
  width: 200px;
  height: 100px;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  cursor: pointer;
}

.carousel .container {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel .cards {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.carousel #item-1:checked ~ .cards #frame-4,
.carousel #item-2:checked ~ .cards #frame-5,
.carousel #item-3:checked ~ .cards #frame-1,
.carousel #item-4:checked ~ .cards #frame-2,
.carousel #item-5:checked ~ .cards #frame-3 {
  -webkit-transform: translateX(-100%) scale(0.4);
          transform: translateX(-100%) scale(0.4);
  opacity: 0.2;
  z-index: 0;
}

@media (max-width: 600px) {
  .carousel #item-1:checked ~ .cards #frame-4,
  .carousel #item-2:checked ~ .cards #frame-5,
  .carousel #item-3:checked ~ .cards #frame-1,
  .carousel #item-4:checked ~ .cards #frame-2,
  .carousel #item-5:checked ~ .cards #frame-3 {
    -webkit-transform: translateX(-50%) scale(0.4);
            transform: translateX(-50%) scale(0.4);
  }
}

.carousel #item-1:checked ~ .cards #frame-3,
.carousel #item-2:checked ~ .cards #frame-4,
.carousel #item-3:checked ~ .cards #frame-5,
.carousel #item-4:checked ~ .cards #frame-1,
.carousel #item-5:checked ~ .cards #frame-2 {
  -webkit-transform: translateX(100%) scale(0.4);
          transform: translateX(100%) scale(0.4);
  opacity: 0.2;
  z-index: 0;
}

@media (max-width: 600px) {
  .carousel #item-1:checked ~ .cards #frame-3,
  .carousel #item-2:checked ~ .cards #frame-4,
  .carousel #item-3:checked ~ .cards #frame-5,
  .carousel #item-4:checked ~ .cards #frame-1,
  .carousel #item-5:checked ~ .cards #frame-2 {
    -webkit-transform: translateX(50%) scale(0.4);
            transform: translateX(50%) scale(0.4);
  }
}

.carousel #item-1:checked ~ .cards #frame-5,
.carousel #item-2:checked ~ .cards #frame-1,
.carousel #item-3:checked ~ .cards #frame-2,
.carousel #item-4:checked ~ .cards #frame-3,
.carousel #item-5:checked ~ .cards #frame-4 {
  -webkit-transform: translateX(-50%) scale(0.8);
          transform: translateX(-50%) scale(0.8);
  opacity: 0.4;
  z-index: 1;
}

@media (max-width: 600px) {
  .carousel #item-1:checked ~ .cards #frame-5,
  .carousel #item-2:checked ~ .cards #frame-1,
  .carousel #item-3:checked ~ .cards #frame-2,
  .carousel #item-4:checked ~ .cards #frame-3,
  .carousel #item-5:checked ~ .cards #frame-4 {
    -webkit-transform: translateX(-25%) scale(0.8);
            transform: translateX(-25%) scale(0.8);
  }
}

.carousel #item-1:checked ~ .cards #frame-2,
.carousel #item-2:checked ~ .cards #frame-3,
.carousel #item-3:checked ~ .cards #frame-4,
.carousel #item-4:checked ~ .cards #frame-5,
.carousel #item-5:checked ~ .cards #frame-1 {
  -webkit-transform: translateX(50%) scale(0.8);
          transform: translateX(50%) scale(0.8);
  opacity: 0.4;
  z-index: 1;
}

@media (max-width: 600px) {
  .carousel #item-1:checked ~ .cards #frame-2,
  .carousel #item-2:checked ~ .cards #frame-3,
  .carousel #item-3:checked ~ .cards #frame-4,
  .carousel #item-4:checked ~ .cards #frame-5,
  .carousel #item-5:checked ~ .cards #frame-1 {
    -webkit-transform: translateX(25%) scale(0.8);
            transform: translateX(25%) scale(0.8);
  }
}

.carousel #item-1:checked ~ .cards #frame-1,
.carousel #item-2:checked ~ .cards #frame-2,
.carousel #item-3:checked ~ .cards #frame-3,
.carousel #item-4:checked ~ .cards #frame-4,
.carousel #item-5:checked ~ .cards #frame-5 {
  -webkit-transform: translateX(0) scale(1);
          transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 2;
}

.carousel #item-1:checked ~ .cards #frame-1 img,
.carousel #item-2:checked ~ .cards #frame-2 img,
.carousel #item-3:checked ~ .cards #frame-3 img,
.carousel #item-4:checked ~ .cards #frame-4 img,
.carousel #item-5:checked ~ .cards #frame-5 img {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
          box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.02);
  font-family: 'Ubuntu', serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app-wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app {
  padding: 8px;
  max-width: 960px;
}
/*# sourceMappingURL=styles.css.map */