.camButtonsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.underPicButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.carouselMain {
  height: 150px;
}

.carouselItem {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carouselImage {
  cursor: pointer;
}

.stickerImage {
  cursor: pointer;
}

.buttonsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.prevNextDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-wrapper {
  max-width: 960px;
}

.picture-wrapper {
  margin-top: 32px;
}

.header-wrapper {
  width: 100%;
  background-color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.header-wrapper .header {
  max-width: 960px;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-wrapper .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-wrapper a {
  padding: 0 8px;
}

.header-wrapper .button {
  padding: 0 8px;
  cursor: pointer;
}

.header-wrapper .sidebar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: -304px;
  top: 0;
  width: 300px;
  height: 100vh;
  background-color: #ffffff;
  -webkit-transition: left 250ms ease-in;
  transition: left 250ms ease-in;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.header-wrapper .sidebar h2 {
  margin: 8px auto;
}

.header-wrapper .sidebar .sidebar-link {
  padding: 8px 24px;
  font-size: 1.2rem;
  width: 252px;
}

.header-wrapper .sidebar .sidebar-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.header-wrapper .show-sidebar {
  left: 0;
}

footer {
  width: 100%;
  background-color: #ffffff;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

body {
  margin: 0;
}

nav a {
  color: black;
  text-decoration: none;
}

.app {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-button {
  display: block;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.settings-button {
  display: block;
  width: 60%;
  margin: auto;
  margin-top: 60px;
}
/*# sourceMappingURL=styles.css.map */